@charset "utf-8";
/* NHN Web Standard 1Team JJS 090707, JJJ 090815 */

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum, Helvetica,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

/* NTS header footer */
h1{width:100%;margin:0;padding:13px 0 11px;background:#000;font-size:18px;line-height:24px;font-family:'나눔고딕',sans-serif;color:#fff;text-indent:15px}
h2{font-size:16px;line-height:24px;font-family:'나눔고딕',sans-serif}
#footer{clear:both;margin:0;padding:10px;border-top:1px solid #ddd;font:10px Verdana;line-height:normal;color:#444;text-align:center;list-style:none}
#footer address strong{font-weight:700;font-family:Tahoma,Geneva,sans-serifahoma;color:#00535d}

/* problem1.css */
#container{margin: 10px}
#container {*zoom:1;} /* IE5.5~7 브라우저 대응 Hack */
#container:after {content:""; display:block; clear:both;} /* float 해제 */

.section_head{margin-bottom: 14px;}
.section_head h2{float:left;font-family: '굴림', gulim, helvetica, sans-serif; font-size:13px;}
.section_head .button_report{text-align: right}
.movie_section ul:after{content:""; display:block; clear:both;}
.movie_section li{float:left;margin:0 33px 0;width:120px;}
.movie_section a{text-decoration: underline;font-family: '굴림',gulim,helvetica,sans-serif;font-size: 13px;}
.movie_section .movie_info{display:block;line-height:17px;font-size:12px;color:#666;font-family:'굴림',gulim,helvetica,sans-serif;}
.movie_section .movie_date{display: block;}
.section_more{padding:14px 0 0 0}
.section_more .go_more{float:right;padding: 3px 8px 0 3px;font-family: '굴림',gulim,helvetica,sans-serif}
.section_more .go_more_icon{display:inline-block;width:10px;height:15px;background: url(../img/problem1_06.png) no-repeat;}